*,
*::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 15px;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/* font-size: 16px; */
	line-height: 1.7;
	color: #777;
	padding: 3rem;
	/* Padding around the entire page */
	box-sizing: border-box;
	background-color: rgb(35, 42, 97);
}

.card {
	position: relative;
	background-color: #e4e3f2;
}

.header-image {
	text-align: right;
}
